/*This is the css file that goes with the first page html file */
/*=So that I can  have more practice writing in CSS*/

/* font is tahoma height is 22.14 */
/*to convert from pixels to em you divide the pixel size by 16*/
body
{
margin:0;
padding:0;
}

form.entry,form.log_in
{
position:absolute;
padding-top:25px;
padding-bottom:0px;
margin-right:0px;
margin-top:7px;
}

form.entry{margin-left:800px;}
form.log_in{margin-left:1110px;}

form.sign_up
{
position:absolute;
margin-top:60px;
margin-left:900px;
}


form.check_box
{
position:absolute;
padding-top:25px;
padding-bottom:0px;
margin-left:795px;
margin-right:0px;
margin-top:30px;
font-family:tahoma, 'sans serif';
color:#96ABEA;
font-size:0.70em;
}

form.new,form.new2,form.new3,form.new4, form.new5,form.sex, form.month,form.day, form.year 
{
margin-top:5px;
font-family:tahoma, 'sans serif';
color:#19315F;
font-size:0.80em;
}

form.new,form.new2,form.new3{margin-left:835px;}

form.new4,form.new5{margin-left:810px;}

form.sex{margin-left:900px;}

form.month{position:absolute;margin-left:900px;}

form.day{position:absolute; margin-left:980px;}

form.year{position:absolute; margin-left:1050px;}

#big_input
{
height:28px;
width:260px;
border: 1px solid #7D97E5;
}

#options
{
padding:5px;
border: 1px solid #7D97E5;
}

#regular_input{border: 1px solid black;}

#blue_button
{
width:50px;
padding-top:2px;
padding-bottom:2px;
border:1px outset #003399;
cursor:pointer;
background-color:#627AAD;
color:#FFFFFF;
font-size:0.70em;
font-family:tahoma, 'sans serif';
font-weight:bold;
}

#green_button
{
width:106px;
padding:5px 7px;
border:1px outset #006600;
cursor:pointer;
background-color:#70A33D;
color:#FFFFFF;
font-size:0.80em;
font-family:tahoma, 'sans serif';
font-weight:bold;
}

#gray
{
margin-left:835px;
color:#666666;
font-size:0.70em;
font-family:tahoma, 'sans serif';
font-weight:bold;
}

h3.start, h3.end
{
position:absolute;
float:left;
margin-left:210px;
color:#001A4D;
font-size:1.26em;
font-family:tahoma, 'sans serif';
}

h3.sign_up
{
position:absolute;
float:right;
top:108px;
margin-left:815px;
color:#001A4D;
font-size:1.15em;
font-family:tahoma, 'sans serif';
}


h3.start{top:105px;}
h3.end{top:135px;}


p.log_in, p.log_in2
{
position:absolute;
padding-top:5px;
padding-bottom:0px;
margin-right:0px;
margin-top:10px;
font-size:0.70em;
color:#FFFFFF;
font-family:tahoma, 'sans serif';
}

p.log_in { margin-left:800px;}
p.log_in2 { margin-left:948px;}

p.forgot_pass
{
position:absolute;
padding-top:25px;
padding-bottom:0px;
margin-left:948px;
margin-right:0px;
margin-top:34px;
font-family:tahoma, 'sans serif';
color:#96ABEA;
font-size:0.70em;
}

p.body
{
position:absolute;
float:right;
top:140px;
margin-left:815px;
color:#19315F;
font-size:0.95em;
font-family:tahoma, 'sans serif';
}

p.sex,p.birthday
{
position:absolute;
font-family:tahoma, 'sans serif';
color:#19315F;
font-size:0.80em;
}

p.sex{margin-left:868px; margin-top:190px;}

p.birthday{margin-left:848px; margin-top:225px;}

p.provide_birth
{
position:absolute;
margin-top:255px;
margin-left:900px;
font-family:tahoma, 'sans serif';
color:#5C5CFF;
font-size:0.70em;
}

p.copyright
{
display:inline;
padding-left:200px;
color:#999999;
font-family:tahoma, 'sans serif';
font-size:0.70em;
}

p.dot{
display:inline;
color:#999999;
font-family:tahoma, 'sans serif';
font-size:0.70em;
}

div.head
{
width:1368px;
height:80px;
margin:0px;
background-color:#3B5998;
clear:left;
} 

div.body
{
position:absolute;
float:left;
width:1368px;
height:465px;
margin:0px;
background-color:#F6F6FF;
clear:left;
z-index:-1;
}

div.box
{
display:inline;
padding:0px 5px;
width:10px;
height:10px;
}

img.logo
{
position:relative;
left:200px;
top:0px;
}

img.other_pic
{
position:absolute;
left:200px;
top:115px;
}

hr.top, hr.bot
{
color:#7D97E5;
margin-right:200px; 
margin-left:800px;
}

hr.top{margin-top:103px;}
hr.bot{margin-top:100px;}

hr.last_one
{
color:#CCCCCC;
margin-left:200px;
margin-right:150px;
margin-bottom:4px;
}

a.log_in:link{color:#96ABEA;text-decoration:none;}
a.log_in:visited{color:#96ABEA;text-decoration:none;}
a.log_in:hover{color:#96ABEA;text-decoration:underline;}
a.log_in:active{color:#96ABEA;text-decoration:none;}

a.b_day:link{color:#5C5CFF;text-decoration:none;}
a.b_day:visited{color:#5C5CFF;text-decoration:none;}
a.b_day:hover{color:#5C5CFF;text-decoration:underline;}
a.b_day:active{color:#5C5CFF;text-decoration:none;}


a.create_page:link{color:#3B5998;text-decoration:none;}
a.create_page:visited{color:#3B5998;text-decoration:none;}
a.create_page:hover{color:#3B5998;text-decoration:underline;}
a.create_page:active{color:#3B5998;text-decoration:none;}

a.box:link{background-color:#F6F6FF;color:#3B5998;text-decoration:none;}
a.box:visited{background-color:#F6F6FF;color:#3B5998;text-decoration:none;}
a.box:hover{background-color:#3B5998;color:#FFFFFF;text-decoration:none;}
a.box:active{background-color:#3B5998;color:#FFFFFF;text-decoration:none;}

a.english:link{display:inline;color:#5C5CFF;font-family:tahoma, 'sans serif';font-size:0.70em;text-decoration:none;}
a.english:visited{display:inline;color:#5C5CFF;font-family:tahoma, 'sans serif';font-size:0.70em;text-decoration:none;}
a.english:hover{display:inline;color:#5C5CFF;font-family:tahoma, 'sans serif';font-size:0.70em;text-decoration:underline;}
a.english:active{display:inline;color:#5C5CFF;font-family:tahoma, 'sans serif';font-size:0.70em;text-decoration:none;}

a.lang1:link
{
display:inline
margin-top:50px;
padding-left:200px;
padding-right:3px;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:none;
}

a.lang1:visited
{
display:inline;
margin-top:50px;
padding-left:200px;
padding-right:3px;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:none;
}

a.lang1:hover
{
display:inline;
margin-top:50px;
padding-left:200px;
padding-right:3px;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:underline;
}

a.lang1:active
{
display:inline;
margin-top:50px;
padding-left:200px;
padding-right:3px;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:none;
}

a.lang:link
{
display:inline;
padding:3px;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:none;
}

a.lang:visited
{
display:inline;
padding:3px;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:none;
}

a.lang:hover
{
display:inline;
padding:3px;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:underline;
}

a.lang:active
{
display:inline;
padding:3px;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:none;
}

a.end1:link
{
display:inline;
margin-left:180px;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:none;
}

a.end1:visited
{
display:inline;
margin-left:180px;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:none;
}

a.end1:hover
{
display:inline;
margin-left:180px;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:underline;
}

a.end1:active
{
display:inline;
margin-left:180px;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:none;
}

a.end:link
{
display:inline;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:none;
}

a.end:visited
{
display:inline;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:none;
}

a.end:hover
{
display:inline;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:underline;
}

a.end:active
{
display:inline;
color:#5C5CFF;
font-family:tahoma, 'sans serif';
font-size:0.70em;
text-decoration:none;
}
